.login_area {
    padding-top: 90px;
    @media #{$xs} {
        padding-top: 20px;
    }
    .LOG_LEFT {
        border-right: 2px solid #4e5f7c47;
        @media #{$xs} {
            border: none; 
        }
    } 
    .ch-logIN{
        @media #{$xs} {
            border: none;
            border-bottom: 1px solid $site-bar-border;
            padding-bottom: 15px;
        }
    }
} 
form {
    h5 {
        font-size: 24px;
        font-weight: 700;
        color: $heading-color;
        line-height: 64px;
    }
    label {
        font-size: 16px;
        color: $pagination-color;
        @media #{$xs} {
            width: 100%;
        }
        span {
            color: $theme-color;
        }
    }
    input {
        width: 360px;
        padding-left: 20px;
        height: 55px;
        border-radius: 5px;
        border: 1px solid $inp-boreder;
        margin-top: 10px;
        @media #{$lg} {
            width: 270px;
        }
        @media #{$md} {
            width: 320px;
        }
        @media #{$xs} {
            width: 100%;
        }
    }
    ::placeholder {
        font-size: 18px;
        color: $heading-color;
        font-weight: 400;
    }
    .f_get_password {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        label.Checkk {
            font-size: 16px;
            color: $body-text-color;
            padding-left: 40px; 
        }
        .hideXs{
            opacity: 0;
        }
        a {
            float: right;
            text-align: right;
            color: $heading-color;
            width: 54%;
            @media #{$lg} {
                width: 45%;
            }
            @media #{$xs} {
                width: 50%;
            }
        }
    }
} 
 
.log_middle { 
    @media #{$xs} {
        margin-top: 10px;
    }
    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 64px;
        color: $heading-color;
    }
    a.theme-btn {
        display: block;
        margin-bottom: 20px;
        color: $news-latter-bac;
        width: 262px;
        font-weight: 300;
        padding-left: 40px;
    }
    a {
        color: $theme-color;
        font-size: 18px;
        font-weight: 500;
        img.nt-btn {
            margin-left: 20px;
        }
    }
} 
.login_info {
    box-shadow: $productShadow;
    background-color: $white;
    border-radius: 10px;
    @media #{$md} {
        margin-top: 50px;
    }
    @media #{$xs} {
        margin-top: 50px;
        margin-bottom: 35px;
    }
    .cart{
        h4 {
            border-bottom: 1px solid #4e5f7c45;
            padding: 15px 30px;
            padding-top: 20px;
            font-size: 24px;
            font-weight: 700;
            color: $heading-color;
        } 
        h5 {
            margin: 10px 30px;
            border-bottom: 1px solid #4e5f7c45;
            display: flex; 
            padding: 10px 0;
            img {
                width: 86px;
                height: 86px;
                overflow: hidden;
                object-fit: cover;
                margin-right: 15px;
                @media #{$xs} {
                    width: 75px;
                    height: 75px;
                }
            }
            p {
                font-size: 16px;
                color: $body-text-color;
                margin: 0;
                @media #{$xs} {
                    font-size: 11px;
                }
                span {
                    display: block !important;
                    font-size: 16px;
                    line-height: 28px;
                    @media #{$xs} {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
                span.fst {
                    margin-top: 5px;
                }
            }
        }
        .amount-text {
            margin: 10px 30px;
            p {
                font-size: 18px;
                color: $heading-color;
                @media #{$lg} {
                    font-size: 12px;
                }
                @media #{$xs} {
                    font-size: 12px !important;
                }
                span {
                    float: right;
                    color: $body-text-color;
                }
            }
            h4 {
                font-size: 20px !important;
                padding: 0 !important;
                border-top: 1px solid #4e5f7c45;
                border-bottom: none;
                padding-top: 15px !important;
                padding-bottom: 20px !important;
                display: block;
                span {
                    float: right;
                    color: $body-text-color;
                }
            }
        }
           
    }
}
 

 