// Font Family
$redHatText: 'Red Hat Text', sans-serif;

// Colors ---------------
$white: #ffffff;
$black-original: #000;
$black: #333333;
$grey:#f6f6f6;
$theme-color: #DE5A46;
$body-text-color: #0A1835;
$hr-border-color:#eceff8;
$news-latter-bac: #FEF5F4;
$btn-border: #ffffff2e; 
$radio-border: #C1CBD8;
$body-color: #F6F6F6; 
$radio-back : #C1CBD8;
$pagination-color:#707070;
$green-soft:#00AE85; 
$boxShadow-color:#dedede;
$whiteGray:#EEFCF5;
$blue: #1D5ECE;
$bdr-color:#cfd3db;
$pargraphColor: #1D2F50;
$Ftext-color:#2B3F64;
$fT-color:#adb4c0;
$menu-border:#e3e3e3;
$inp-boreder: #cdd2da;
$numberBac: #c7c7c7;
$trans-color:transparent; 
$arrowColor: #C0C5CF;
$table-border: #e6e6e6;
$theme-overlay-color: #FFF1EF;
$cart-boreder-color: #d8d8d8;
$site-bar-border: #e3e3e3;
// Heading Color
$heading-color: #4E5F7C; 

// Soft color
$black-soft:#747778;
$theme-soft-color:#FC6E57; 

// shadow
$productShadow: 0px 2px 22px -5px #b3b3b3;
$product-box-shadow: 8px 4px 46px -27px #b1b1b1;
$img-boxShadow:#858585;
$tabShadow: #c3c3c3;
$gallery-nav: #c7c4c4;
// $sitebarShadow: #0000002e;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

